@import "../utils/colors";

.home-section {

  .main-banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .video-overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 0.6;
      }
    }

    h1 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      background: #fff;
      font-size: 60px;
      z-index: 1;
      padding: 20px;
    }
  }

  .about {
    max-width: 850px;
    margin: 0 auto;
  }
.quote {
  font-size: 20px;
  margin: 100px 0;
  text-align:  center;
  height: 240px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/trip-wave.jpg) no-repeat fixed center;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 16px 14px -14px grey;
}
  .image-with-description {
    background: $light-gray;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .column {
      padding: 0;
    }

    .description {
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 0 60px;
    }
  }

  .features {
    max-width: 900px;
    margin: 0 auto;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        min-width: 300px;
        flex: 1 0 21%;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

        .label {
          border-bottom: 1px solid $secondary;
          padding-bottom: 5px;
        }

        &:hover {
          transform: translateY(-15px);
          -webkit-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.16);
        }

      }
    }
  }
}
