@import "../utils/colors";

.trip-page {

  &__main-info {
    border-bottom: 1px solid #ccc;
    background: $light-gray;
    margin-bottom: 100px;

    .label-with-line {
      margin-top: 0;
    }
  }

  &__extras {
    background: $light-gray;
    margin-bottom: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    ul {
      li {
        &::before {
          content: "\2022";
          color: $primary;
          font-weight: bold;
          display: inline-block;
          width: 1.125em;
        }
      }
    }
  }

  &__description {
    margin: 0 auto 100px auto;
    max-width: 800px;
    text-align: center;
  }

  &__promo {
    font-size: 20px;
    margin: 100px 0;
    text-align:  center;
    height: 240px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/trip-wave.jpg) no-repeat fixed center;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 16px 14px -14px grey;
  }



}
