@import "../utils/colors";

.navbar {
  background: $primary;

  a {
    color: #fff;
    &:not(.main-logo) {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }

    &:hover, &:active, &:focus {
      background: none;
      color: #dddddd;
    }
  }

  .navbar-menu {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-logo {
      position: relative;
      font-size: 30px;
      font-weight: 200;
      font-family: 'Pacifico', cursive;
      width: 200px;
      display: flex;
      justify-content: center;
    }
  }
}
