.main-content {
  min-height: 78vh;
}

.mt100 {
  margin-top: 100px;
}

.box-shadow {
  box-shadow: 0 14px 15px -15px black;
}

.travel-section {
  margin-bottom: 100px;
}

.label-with-line {
  margin: 20px 0;
  &:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 30px;
    height: 4px;
    background: #279786;
  }
}

.label-in-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  &:before {
    content: '';
    display: block;
    background: #ccc;
    width: 100px;
    height: 1px;
    margin: 20px;
  }
  &:after {
    content: '';
    display: block;
    background: #ccc;
    width: 100px;
    height: 1px;
    margin: 20px;
  }

  @include until($tablet) {
    text-align: center;
  }
}
